{
    "branches": [
        "main"
        ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
            "changelogFile": "CHANGELOG.md",
            "changelogTitle": "# Changelog\n\nThis file contains all important changes of this release"
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
            "assets": [
                "CHANGELOG.md"
            ],
            "message": "chore(release): version ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}